div.hero-body 
    div.container.has-text-centered
        div.columns.is-movile.is-centered
            div.column.is-three-quarters
                div.field
                    p
                        span.is-google.is-g1 G
                        span.is-google.is-o1 o
                        span.is-google.is-o2 o
                        span.is-google.is-g2 g
                        span.is-google.is-l l
                        span.is-google.is-e e
                
                div.columns.is-mobile.is-centered.separation
                    div.column.is-three-quarters
                        input(type="text", name="mainSearch").input
                
                div.field.buttons.has-addons.has-addons-centered.separation
                    span.button.is-info.is-selected Google Search
                    span.button I'm Feeling Lucky

                dif.field
                    p Google offered in: 
                        a Klingonese (Klingon)
