div.hero-foot 
    nab.tabs
        .container
            div.navbar-menu
                div.navbar-start
                    ul
                        li
                            a.navbar-item Advertising
                        li
                            a.navbar-item Business
                        li
                            a.navbar-item About
                div.navbar-end
                    ul
                        li
                            a.navbar-item Privacy
                        li
                            a.navbar-item Terms
                        li
                            a.navbar-item Settings
