div.hero-head
    div.navbar
        div.container
            div.navbar-brand
                a.navbar-burger
                    span
                    span
                    span
            div.navbar-menu
                div.navbar-end
                    a.navbar-item.is-active Gmail
                    a.navbar-item Images
                    a.navbar-item.has-text-link account@gmail.com